* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border-radius: 10px;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.container {
  height: 100vh;
  display: flex;
  gap: 8px;
  padding-right: 6px;
}


.page {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  border-top: 10px solid white;
  padding-bottom: 10px;
  padding-right: 10px;
}

.page-content {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}